# R markdown output
code/*.html
code/*.pdf

# R code history
code/.Rhistory

# data
data/*

# output files
output/*

# python jupyter notebook checkpoints
.ipynb_checkpoints/* 

# ignore QGIS project files 
*.qgs
